@font-face {
    font-family: BebasNeue;
    src: url("./BebasNeue.otf");
}

#first {
  height: 550px;
  height:100vh;
}

#header {
  height: 550px;
  height:100vh;
  width:100%;
  background: url("../images/singing.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:left;
  position:relative;
  text-align: right
}

#header .names {
  position: absolute;
  bottom: 5em;
  right: 1em;
}

#header h1 {
  color:white;
  text-transform: uppercase;
  font-size:70pt;
  font-family: BebasNeue;
  line-height: 70pt;
}

#quote {
  background: url("../images/header.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

.page {
  padding: 50px 0 4em;
  position:relative;
}

.invert {
  color:white;
  text-shadow: 2px 2px #111;
}

#last {
  text-align: right;
  background: #E1ABBC;
  padding: 0.5em 2em;
}

.invert h3 {
  color:white;
}

.invert a {
  color:white;
}

#second {
  text-align: center;
  padding:4em 0;
  position:relative;
}

.textbox {
  border:2px solid white;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px #333;
}

.wrap {
  padding:2em;
}

ul {
  padding:0;
  margin:0;
}

.button {
  border:none;
  background:#993333;
  font-size:14pt;
  text-shadow:none;
  border-radius: 0;
  margin-right:1em;
  border-bottom:3px solid #3d3d3d;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button a {
  text-decoration: none;
  color:white;
}

.button:hover {
  border-radius:none;
  background:#773333;
  border:none;
  transform: translate(0px,3px);
}

.button:hover a {
  color:white;
}

.last {
  background: #000;
  text-align: center;
}

.button.song {
  background:#999933;
}

.button.song:hover {
  background:#777733;
}

a i.fa {
  color:#1D50D1;
  font-size: 25pt;
  margin-right:1em;
}

a:hover i.fa {
  color:#0D2D80;
}

.last a {
  text-decoration: none;
}

.last a:hover {
  color:white;
}

.row {
  margin:0;
}

.sidebar {
  padding-left: 30px;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    padding: 10px 0 0;
  }

  ul.sidebar li i{
    margin-right: 10px;
  }

  #header .names {
    bottom: 1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

  .sidebar {
    padding-left: 80px;
  }

}